body {
    font-family: "Palatino Linotype", serif; /* Nova regra para a fonte */
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

.receita {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.aba {
    display: none; /* Esconde todas as abas inicialmente */
}

.aba.ativa {
    display: block; /* Exibe a aba ativa */
}

.receita {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.ingredientes {
    margin-top: 10px;
}

button {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #45a049;
}

